<header
  class="header"
  style="background: #0d172b; display: flex; align-items: center; justify-content: center"
>
  <div
    class="header-design"
  >
    <div>
      <img
        src="../assets/guy.jpg"
        alt="Luis Castillo Profile Picture"
        style="border-radius: 50%; width: 30px;"
      />
    </div>
    <div style="width: 15px"></div>
    <div>
      <span style="font-weight: bold; color: white">Luis Castillo</span>
    </div>
    <div style="width: 10px"></div>
    <div style="cursor: pointer;">
      <clr-icon
        shape="angle"
        style="color: #b8c2cd; transform: rotate(-180deg)"
      ></clr-icon>
    </div>
  </div>
  <div
    class="logo"
    style="width: 100%;display: flex;justify-content: center;align-items: center;"
  >
    <img
      src="../assets/logo.svg"
      alt="code2flow.com logo"
      style="width: 120px"
    />
  </div>
  <div class="create-flowchar">
    <button class="btn btn-success" style="background: #49a561; outline: none;">
      NEW FLOWCHART
    </button>
  </div>
</header>
