#flowChart-page {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.spinner-centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}