<clr-vertical-nav style="width: 12rem; height: 100vh; padding-top: 0px;background: #ffffff;border-right: 1.5px solid #dfdff6;">
    <div style="padding-top: 14px">
      <a class="sideBar-item" clrVerticalNavLink routerLink="" routerLinkActive="active">
        <clr-icon shape="cloud-chart" style="width: 25px; height: 25px; margin-right: 15px"></clr-icon>My flowcharts
      </a>
      <a class="sideBar-item" clrVerticalNavLink routerLinkActive="active">
        <clr-icon shape="clock" style="width: 25px; height: 25px; margin-right: 15px"></clr-icon>Recent
      </a>
      <a class="sideBar-item" clrVerticalNavLink routerLinkActive="active">
        <clr-icon shape="users" style="width: 25px; height: 25px; margin-right: 15px"></clr-icon>Shared with me
      </a>
      <a class="sideBar-item" clrVerticalNavLink routerLinkActive="active">
        <clr-icon shape="trash" style="width: 25px; height: 25px; margin-right: 15px"></clr-icon>Trash
      </a>
      <div class="nav-divider" style="border: 0.5px solid #565656"></div>
      <div id="add-team-wrapper">
        <div style="width: 40px">
          <button type="button" id="add-team-button">
            <clr-icon shape="plus"></clr-icon>
          </button>
        </div>
        <span style="color: #1e283e; font-size: 16px;">Create new team</span>
      </div>
    </div>
</clr-vertical-nav>